<h1>Listing user_archives</h1>

<% form_tag("user_archives/archive", :method => "post") do %>
    <p>
    <%= label_tag(:sql, "SQL:") %>
    </p>
    <p>
    <%= text_area_tag(:sql,"",:size=>"50x3") %>
    </p>
    <p>
    <%= submit_tag("Run") %>
    </p>
<% end %>

<table>
  <tr>
    <th>Usr</th>
    <th>Name</th>
    <th>Email</th>
    <th>State</th>
    <th>Usr created at</th>
    <th>Usr updated at</th>
    <th>Archive time</th>
  </tr>

<% @user_archives.each do |user_archive| %>
  <tr>
    <td><%=h user_archive.usr_id %></td>
    <td><%=h user_archive.name %></td>
    <td><%=h user_archive.email %></td>
    <td><%=h user_archive.state %></td>
    <td><%=h user_archive.usr_created %></td>
    <td><%=h user_archive.usr_updated %></td>
    <td><%=h user_archive.archive_time %></td>
    <td><%= link_to 'Show', user_archive %></td>
    <td><%= link_to 'Edit', edit_user_archive_path(user_archive) %></td>
    <td><%= link_to 'Destroy', user_archive, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New user_archive', new_user_archive_path %>